<div class="post">
    <form>
        <input
            type="text"
            name="inputTodo"
            placeholder="Enter task"
            class="post-input"
            [(ngModel)]="inputTodo"
        />
        <button class="post-submit" > Add task </button>
    </form>
    
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '')}}" >
        <div class="id"></div>
        <div class="content"> {{todo.content}} </div>
        <button class="strike" (click)="switchCompleted(i)">Strike</button>
        <button class="delete" (click)="removeTodo(i)">Remove</button>
        <button class="edit">Edit</button>
    </div>
</div>
    
lol